@charset "UTF-8";

/* ======== Basic ======== */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: red;
}

/* ======== Outline Layout======== */
/* ==== Navigator (Main Menu) ==== */
#nav_mainMenu {
  width: 100%; 
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  background-color: #222222;
}

/* ==== Footer ==== */
#footer {
  width: 100%;
  height: 40px;
  position: fixed;
  left: 0;
  bottom: 0;
  clear: both;
  color: white;
  background-color: #222222;
}

/* ==== Wrapper of Main Contents ==== */
#div_wrapperAll {
  width: 100%;
  height: calc(100% - 30px - 40px);  /* decrease the height of header and footer */
  padding-top: 30px;
  padding-bottom: : 40px;
  background-color: red;
}

/* ==== SideBar (Control) ==== */
#div_sideControl {
  overflow: auto;
  width: 20%;
  height: 100%;
  float: left;
  color: white;
  background-color: #222244;
}

/* ==== MainArea ==== */
#div_main {
  width: 80%;
  height: 80%;
  float: right;
  background-color: #222244;
}

/* ==== MessageArea ==== */
#div_message {
  width: 80%;
  height: 20%;
  float: left;
  background-color: red;
}
#div_messageCanvas {
  width: 60%;
  height: 100%;
  float: left;
  background-color: #222244;
}
#div_messageText {
  overflow: auto;
  width: 40%;
  height: 100%;
  text-align: right;
  color: white;
  background-color: black;
}

/* ======= Detailed design ======== */
/* ==== Navigator (Main Menu) ==== */
#nav_mainMenu ul {
  margin: 0;
  padding: 0;
}
#nav_mainMenu ul li {
  padding: 0 10px 0;
  float:left;
  list-style:none;
  position:relative;
  color: white;
  background-color: #222222;
}

#nav_mainMenu ul li a {
  height: 30px;
  line-height: 30px;
  color: white;
  background-color: #222222;
  text-decoration:none;

}

#nav_mainMenu ul li a:hover {
  color: white;
  background-color: #222222;
}

#nav_mainMenu ul li ul {
  margin: 0;
  padding: 0;
  position:absolute;
  top:30px;
  left:0;
  visibility:hidden;
  opacity:0;
  z-index:9999;
}

#nav_mainMenu ul li:hover ul {
  visibility:visible;
  opacity:1;
}

#nav_mainMenu ul li ul li {
  float:none;

}

/* ==== MainArea ==== */

/* ==== SideBar (Control) ==== */
.sideControl input {
  padding: 0;
  margin-left: 5px;
  width: 90%;
}

input[type="range"].range_prm {
  margin-right: 2px;
  width: 60%;
}
input[type="text"].range_prm {
  width: 20%;
}

.manual {
  margin: 5px;
  font-size: 10px;
}

div.prmText{
  margin-left: 5px;
  margin-top: 10px;
  font-size: 12px;
}

div.split2 input{
  margin: 2%;
  font-size: 8px;
  width: 40%;
}

.footerRight {
  float: right;
  margin-left: 5px;
}
